:root {
  --sans: 'Degular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --heading: 'Degular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

html,
body,
#root {
  font-family: var(--sans);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
